<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout.html">
<head>
  <meta charset="UTF-8">
  <title>Ajouter un contact</title>
</head>

<body>
<div layout:fragment="content">
  <div class="col-md-4 col-xs-8">
    <div class="card card-primary">
      <div class="card-header">Ajouter un contact</div>
      <div class="card-body">
        <form th:action="@{/save}" th:object="${contact}" method="post">
          <div class="form-group">
            <label class="control-label">Nom :</label>
            <input class="form-control" type="text" th:field="*{lastName}">
            <span th:errors="*{lastName}" class="text-danger"></span>
          </div>
          <div class="form-group">
            <label class="control-label">Prénom :</label>
            <input class="form-control" type="text" th:field="*{firstName}">
            <span th:errors="*{firstName}" class="text-danger"></span>
          </div>
          <div class="form-group">
            <label class="control-label">Mail :</label>
            <input class="form-control" type="text" th:field="*{mail}">
            <span th:errors="*{mail}" class="text-danger"></span>
          </div>
          <div class="form-group">
            <label class="control-label">Téléphone :</label>
            <input class="form-control" type="text" th:field="*{phone}">
            <span th:errors="*{phone}" class="text-danger"></span>
          </div>
          <div class="form-group">
            <label class="control-label">Addresse :</label>
            <input class="form-control" type="text" th:field="*{address}">
            <span th:errors="*{address}" class="text-danger"></span>
          </div>
          <button type="submit" class="btn btn-primary">Enregistrer</button>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>